.SideMenu{
    width: 50%;
    height: 100vh;
    background-color: #434D4D;
    padding: 30px;

    &__options-wrapper{
        padding: 20px;
        height: 800px;
        border-radius: 25px;
        background-color: #243447;

    }
}